
= form_for @project do |f|
  = f.label :title, "Name of Project:"
  .pad10
  = f.text_field :title
  .pad10
  .pad10
  %br
  = f.label :description, "Description:"
  .pad10
  = f.text_area :description
  .pad10
  = f.label :due_date, "When is it due?"
  .pad10
  = f.datetime_select :due_date
  .pad10
  %br
  = f.submit button_label, class: "btn btn-primary"
  

